
/* Creation: 24th June 2022, 11:40 PM */

/* Contains all the CSS styles created upto this point */

/* Steps:-

    1. Create a unique CSS file for every HTML file
    2. Combine all the CSS files into one CSS file (Minification)

*/



/* || General styles */

/* 
   The :root CSS pseudo-class matches the root element of a tree representing the document. In HTML, :root represents the <html> element and is identical to 
   the selector html, except that its specificity is higher. 
*/

:root {                                                /* This remains the same for all the CSS files */
	
    --font: "Garamond", sans-serif;
  
    scroll-behavior: smooth;
  
    font-size: 62.5%;				                    /* 62.5% of 16px is 10px */ 
  
    /* Colors */
  
    --main-background-color: #759FBC;			       /* Air Superiority Blue */
    --main-text-color: #1F5673;				       /* Blue Sapphire */
    --main-links-color: #1F5673;                      /* Was Black; Changed it to be the same as the --main-text-color */
    --main-hr-color: #1F5673;                         /* Same as the --main-text-color */
    --main-active-links-color: none;                    /* #90C3C8; */		     /* Middle Blue */
  
    --navbar-logo-color: #034748;
    --navbar-background-color: #2B4570;
    --navbar-links-color: #034748;
    --navbar-active-links-color:#A9E2CC ;			   /* Same as the --main-active-links-color */
    --navbar-checkbutton-color: White;  
  
    /* @Media Queries */  	
  
    /* 952px */  									  /* Nothing special */ 						  
  
    /* 858px */
  
    --main-background-color-858px: #69DDFF;		  
  
    --navbar-links-color-858px: #DBBADD;
  
    --navbar-active-links-color-858px: #DBBADD;
    
  }
  
  * {
  
    margin: 0;
    padding: 0; 
  
    font-family: var(--font);
  
    color: var(--main-text-color);
    background-color: var(--main-background-color);
  
    box-sizing: border-box;
    text-align: center;
    
  }
  
  
  
  
  
  /* || Typography */
  
  /*  https://www.reddit.com/r/web_design/comments/36zkp4/eli5_baseline_typography_and_how_to_create/  */
  
  body{
      
    font-size: 1.8rem;
    line-height: 1.5;
      
  }
  
  h1, h2, h3, h4, h5, h6, p, hr{
      
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  
    color: var(--main-text-color);
      
  }
  
  h1, h2, h3, h4{
      
      margin-top: 2rem;
    margin-bottom: 2rem;
  
  }
  
  h1{
      
    font-size: 4rem;
      
      
  }
  
  h2{
      
    font-size: 3rem;
      
  }
  
  h3{
      
    font-size: 2.5rem;
      
  }
  
  h4{
      
    font-size: 2rem;
  
  }
  
  p{
  
    margin-top: 1rem;
    margin-bottom: 1rem;
  
  }
  
  hr{
      
    border: none;
    background-color: var(--main-hr-color);
    height: 0.1rem;
      
  }
  
  a{
  
    color: var(--main-links-color);         
    text-decoration: none;
  
  }
  
  a:hover{
  
    background: var(--main-active-links-color);					
    transition: all 0.3s ease 0s;
  
  }
  
  label{
      
      /* What do I put here? */
      
  }
  
  
  
  
  
  /* || Header and Main Navigation */
  
  li, a, button{
  
      font-size: 1.6rem;
      color: #EDF0F1;
      text-decoration: none;
      
  }
  
  header{
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 8%;
      
      background-color: var(--navbar-background-color);
      
  }
  
  .logo-link, .nav-link, .cta{
  
      background-color: var(--navbar-background-color);
      
  }
  
  
  .logo-link{
      
      font-size: 2.4rem;
      cursor: pointer;
  
  }
  
  .nav-links{
      
      list-style: none;
      
  }
  
  .nav-links li{
      
      display: inline-block;
      padding: 0px 20px;
      
  }
  
  .nav-links li a{
      
      transition: all 0.3s ease 0s;
      
  }
  
  
  .nav-links li a:hover{
      
      color: #0088A9;
      
  }
  
  button{
      
      padding: 9px 25px;
      background-color: rgba(0,136,169,1);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      
  }
  
  button:hover{
  
      background-color: rgba(0,136,169,0.8);
  
  }	
      
  
  .checkbtn{
  
    font-size: 26px;
    color: var(--navbar-checkbutton-color);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  
  }
  
  #check{
  
    display: none;
  
  }
  
  @media(max-width: 952px){
    
    label.logo{
  
      font-size: 30px;
      padding-left: 50px;
  
    }
  
    nav ul li a{
  
      font-size: 16px;
    
    }
    
  }
  
  @media(max-width: 858px){
  
    .checkbtn{
      display: block;
    }
  
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--main-background-color-858px);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.3s ease 0s;
    }
  
    nav ul li{
  
      display: block;
      margin: 50px 0;
      line-height: 30px;
  
    }
  
    nav ul li a{
  
      font-size: 20px;
  
    }
  
    a:hover, a.active{
  
      background: none;
      color: var(--navbar-active-links-color-858px);
  
    }
  
    #check:checked ~ ul{
  
      left: 0
  
    }
  
  }
  
  @media(max-width: 425px){
  
    .logo-link{
  
      font-size: 10px;
      padding-left: 50px;
  
    }
  
    ul{
  
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--main-background-color-858px);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.3s ease 0s;
  
    }
  
    nav ul li{
  
      display: block;
      margin: 50px 0;
      line-height: 30px;
  
    }
  
    nav ul li a{
  
      font-size: 20px;
  
    }
  
    a:hover, a.active{
  
      background: none;
      color: var(--navbar-active-links-color-858px);
  
    }
  
    #check:checked ~ ul{
  
      left: 0
  
    }
  
  
  
  }  
  
  
  
  
  /* || Utilities */
  
  
  
  
  
  
  
  /* || What do I put here? */
  
  
  
  
  
  
  /* || Sitewide */
  
  
  
  
  
  
  
  
  /* || Store Pages */
  
  /* Home (Index) */
  
  #main{
      
      
      
  }
  
  #main-header{
      
      /* How to implement this? */
      
  }
  
  #main-name{
      
      margin-top: 80px;
      flex-basis: 50px;
      
      font-size: 4.8rem;
          
  }
  
  #main-description{
      
      font-size: 18px;
      margin-top: -1.5rem;
      flex-basis: 40px;
      
      
  }
  
  #main-socials{
      
      text-align: center;
      display: inline-block;
      margin-top: 0rem;	
      flex-basis: 50px;
      
  }
  
  #main-contents{
      
      margin-top: -1rem;
      flex-basis: 100px;	
      
  }
  
  
  .a-social{
      
      margin: 1px;
      
      
  }
  
  
  .projects, .articles, .about, .contact{
      
      color: var(--main-links-color);
      
  }
  
  
  
  /* Articles */
  
  