
/* || GENERAL STYLES */

body{

	background-color: #fff;
	text-align: center;
	font-family: Garamond, serif;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	align-self: center;
	
	width: 100%;
	height: auto;
	
}

a{
	
	color: black;
	text-decoration: none;	
	
}

h1{
	
	font-size: 42px;

}

h2{
	
	font-size: 24px;
	
}

#name{
	
	margin-top: 110px;
	flex-basis: 50px;

}

#description{
	
	font-size: 18px;
	margin-top: -10px;
	flex-basis: 40px;
		
}

#socials{
	
	text-align: center;
	display:inline-block;
	margin-top: -20px;	
	flex-basis: 50px;
	
}

#contents{

	flex-basis: 100px;	
	
}

footer{

    align-content: baseline;
    animation-direction: alternate;
    display: flex;
    opacity: 0.6;	
	margin-top: 130px;
	text-align: center;

}


